asgiref==3.8.1
blinker==1.8.2
cachetools==5.5.0
Django==5.1.4
Flask==3.0.3
google-auth==2.35.0
google-auth-oauthlib==1.2.1
gspread==6.1.4
gunicorn==20.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonpointer==2.1
MarkupSafe==3.0.2
numpy==2.1.2
oauthlib==3.2.2
pygame==2.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
requests-oauthlib==2.0.0
rsa==4.9
sqlparse==0.5.3
Werkzeug==3.1.2